.userinfo_wrap{
    min-height: 110px;
    width: 978px;
    margin: 0 auto;
    border-style: solid;
    border-color: #8FC0D3;
    border-width: 0 1px;
    background: #F5F7FA;
    position: relative;
}

.userinfo_left {
    position: relative;
    width: 190px;
    height: 110px;
    float: left;
}

.userinfo_middle {
    width: 500px;
    float: left;
}
.userinfo_relation{
    position: relative;
    left: 0;
    top: 32px;
    zoom: 1;
}
.userinfo_title{
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    height: 26px;
    line-height: 26px;
    margin-top: 20px;
}
.userinfo_userdata span {
    display: inline-block;
}
.userinfo_right {
    position: absolute;
    right: 0;
    height: 100px;
    font-family: 'Microsoft YaHei';
}
.btn_grounps {
    position: absolute;
    height: 26px;
    left: 0;
    bottom: 11px;
    width: 780px;
}

.container_wrap {
    width: 980px;
    margin: 0 auto;
}
.ihome_nav_wrap {
    height: 46px;
    background-repeat: repeat-x;
}
.ihome_nav_list {
    height: 46px;
    font-size: 16px;
    float: left;
    overflow: hidden;
}
.ihome_nav_list li {
    height: 46px;
    line-height: 46px;
    float: left;
    display: inline;
    margin-left: 20px;
}
.ihome_nav_list li:hover {
    background:#f2f2f2;
    color:#000;
}
.hot_feed_blank {
    line-height: 200px;
    text-align: center;
}